@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";



section{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#unique-mail{
    width: 70%;
    background-color: aquamarine;
}

#list-mail{
    width: 30%;
    background-color: royalblue;
}

